<div class='row justify-content-center'>
    <div class='col-md-8'>
        <h1>Add an Animal to the Database</h1>
        <div class='card'>
            <div class='card-header'>Register</div>
            <div class='card-body'>

                <form class='form-horizontal' method='post' action='/form'>

                    <div class='form-group'>
                        <label for='zoo' class='cols-sm-2 control-label'>Zoo</label>
                        <div class='cols-sm-10'>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fa fa-building fa'
                                        aria-hidden='true'></i></span>
                                <input type='text' class='form-control' name='zoo' id='zoo' required
                                    placeholder='Enter Zoo' />
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='scientificName' class='cols-sm-2 control-label'>Scientific Name</label>
                        <div class='cols-sm-10'>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fa fa-flask fa' aria-hidden='true'></i></span>
                                <input type='text' class='form-control' name='scientificName' id='scientificName'
                                    required placeholder='Enter Scientific Name' />
                            </div>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label for='commonName' class='cols-sm-2 control-label'>Common Name</label>
                        <div class='cols-sm-10'>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fa fa-paw fa' aria-hidden='true'></i></span>
                                <input type='text' class='form-control' name='commonName' id='commonName' required
                                    placeholder='Enter Common Name' />
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='givenName' class='cols-sm-2 control-label'>Given Name</label>
                        <div class='cols-sm-10'>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fa fa-gift fa' aria-hidden='true'></i></span>
                                <input type='text' class='form-control' name='givenName' id='givenName' required
                                    placeholder='Enter Given Name' />
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='cols-sm-2 control-label'>Gender</label>
                        <div class='cols-sm-10'>
                            <label class='btn'>
                                <input type='radio' name='gender' value='Male' required /> Male
                            </label>
                            <label class='btn'>
                                <input type='radio' name='gender' value='Female' /> Female
                            </label>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label for='dateOfBirth' class='cols-sm-2 control-label'>Date of Birth</label>
                        <div class='cols-sm-10'>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fa fa-calendar fa'
                                        aria-hidden='true'></i></span>
                                <input type='date' class='form-control' name='dateOfBirth' id='dateOfBirth'
                                    placeholder='Enter your Date of Birth' />
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='age' class='cols-sm-2 control-label'>Age</label>
                        <div class='cols-sm-10'>
                            <div class='input-group'>
                                <span class='input-group-addon'><i class='fa fa-birthday-cake'
                                        aria-hidden='true'></i></span>
                                <input type='number' class='form-control' name='age' id='age'
                                    placeholder='Enter your Age' />
                            </div>
                        </div>
                    </div>
                <div class='form-group'>
                    <label for='isTransportable' class='cols-sm-2 control-label'>Transportable</label>
                    <div class='cols-sm-10'>
                        <div class='btn-group' data-toggle='buttons'>
                            <label class='btn'>
                                <input type='radio' name='isTransportable' id='isTransportable' value='AVAILABLE' required>
                                Available
                            </label>
                            <label class='btn'>
                                <input type='radio' name='isTransportable' id='isTransportable' value='UNAVAILABLE'>
                                Unavailable
                            </label>
                        </div>
                    </div>
                </div>


                    <div class='form-group'>
                        <div class='cols-sm-10'>
                            <button type='submit' class='btn btn-primary'>Add Animal to Database</button>
                            <button type='reset' class='btn btn-primary'>Reset Form</button>
                        </div>
                    </div>