
    <h1>Add an Animal to the Database</h1>
    <form method='post' action='/form'>
        <label for='zoo'>Zoo:</label>
        <input type='text' id='zoo' name='zoo' required>
        <br>
        <label for='scientificName'>Scientific Name:</label>
        <input type='text' id='scientificName' name='scientificName' required>
        <br>
        <label for='commonName'>Common Name:</label>
        <input type='text' id='commonName' name='commonName' required>
        <br>
        <label for='givenName'>Given Name:</label>
        <input type='text' id='givenName' name='givenName' required>
        <br>
        <label for='gender'>Gender:</label>
        <input type='text' id='gender' name='gender' required>
        <br>
        <label for='dateOfBirth'>Date of Birth:</label>
        <input type='date' id='dateOfBirth' name='dateOfBirth' required>
        <br>
        <label for='age'>Age:</label>
        <input type='number' id='age' name='age' required>
        <br>
        <label for='isTransportable'>Is Transportable:</label>
        <input type='checkbox' id='isTransportable' name='isTransportable' required>
        <br>
        <input type='submit' value='Add Animal'>
    </form>
