{{#each people_data}}
<hr/>
<div>
    <p>
        <span>Name:</span>
        <span>{{name}}</span>
    </p>
</div>
<div>
    <p>
        <span>Eye Color:</span>
        <span>{{eye_color}}</span>
    </p>
    <div>{{{avatar}}}</div>

</div>
<hr/>
{{/each}}